body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*NAVBAR*/

nav {
  padding: 1.5%;
}
nav h1,
h2 {
  display: inline;
  padding: 3%;
}
nav h1 {
  font-size: 200%;
}
nav a {
  padding: 0.5%;
}
nav a:hover {
  background: black;
  color: white;
}

/*MAIN*/
main{
  flex: 1 0 auto;
}
p{
  font-size: 115%;
}
iframe{
  height: 400px;
}
img, iframe{
  display: block;
  margin: auto;
  margin-bottom: 1%;
  width: 90%;
  border: groove black 1px;
  box-shadow: 3px 3px grey;
}
hr {
  border: 1px dotted black;
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;
  border-width: thick;
  margin-bottom: 3%;
}
a {
  color: black;
}
main h1 {
  background-color: black;
  color: white;
  padding: 1%;
  width: 30%;
  margin: auto;
  text-align: center;
  margin-bottom: 2%;
}
table{
  width: 80%;
  margin-top: 3%;
}
th{
  font-size: 150%;
  text-align: left;
}
.mainText{
  width: 50%;
  margin: auto;
  margin-bottom: 1%;
  box-shadow: 3px 3px grey;
  border: groove black 1px;
  padding: 1%;
}
.mainText h2{
  padding: 0;
  background-color: black;
  color: white;
}
.mainText a{
  color: blue;
}
.icon{
  width: 30%;
}

/*FOOTER*/

footer {
  width: 100%;
  text-align: center;
  height: 150px;
}
footer h1 {
  font-size: 130%;
}
footer h2 {
  font-size: 90%;
}
